<div class="login-form">
    <h2>Login</h2>
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" [(ngModel)]="userData.username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="userData.password" required>
      </div>
      <button class="form-button" type="submit">Login</button>
    </form>
  </div>
  