.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;

    h2 {
        color: #333;
        margin-bottom: 20px;
    }

    .table {
        width: 100%;
        margin-bottom: 20px;
        border-collapse: collapse;
        // center the table
        margin-left: auto;
        margin-right: auto;

        thead {
            background-color: #f8f9fa;
        }

        th, td {
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .btn {
            margin-right: 10px;
        }

        .btn-primary {
            background-color: #007bff;
            color: white;
            border: none;
        }

        .btn-danger {
            background-color: #dc3545;
            color: white;
            border: none;
        }

        button {
            padding: 8px 16px;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        
            &.btn-primary {
              background-color: #007bff;
              color: white;
        
              &:hover {
                background-color: darken(#007bff, 10%);
              }
            }
        
            &.btn-secondary {
              background-color: #6c757d;
              color: white;
        
              &:hover {
                background-color: darken(#6c757d, 10%);
              }
            }
        
            &.btn-danger {
              background-color: #dc3545;
              color: white;
        
              &:hover {
                background-color: darken(#dc3545, 10%);
              }
            }
          }
        
    }

    .form-control {
        padding: 5px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .form-group {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        label {
            flex: 1;
            margin-right: 10px;
        }

        input {
            flex: 2;
            padding: 5px;
            margin-right: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .btn-success {
            background-color: #28a745;
            color: white;
            border: none;
        }
    }
}

.total-amount {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.btn-success {
  background-color: #009cde;
  color: white;
  :hover {
    background-color: darken(#009cde, 10%);
  }

  :disabled {
    background-color: #009cde;
    cursor: not-allowed;
  }

  height: 30px;
  padding: 0 10px;

  .fa {
    font-size: 20px;
  }
}