<div class="container">
    <h2>Shopping Cart</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cartItems">
                <td>{{ item.product.name }}</td>
                <td>
                    <input [(ngModel)]="item.quantity" type="number" min="1" class="form-control">
                </td>
                <td>{{ (item.product.price * item.quantity).toFixed(2) }}</td>
                <td>
                    <button class="btn btn-primary" (click)="updateCartItem(item.product_id, item)">Update</button>
                    <button class="btn btn-danger" (click)="deleteCartItem(item.product_id)">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="total-amount">
        <h2>Total: {{ getTotal() | currency }}</h2>
        <button class="btn btn-success" (click)="checkout()">Checkout with PayPal</button>
    </div>
</div>